# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
ENV/
env/
*.env
.venv

# MySQL files

# IDE and editor folders
.idea/
.vscode/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/
